body {
 font-family: 'Times New Roman', Times, serif;
 margin-left: 20mm;
 margin-right: 20mm;
}

.photo {
    float: right;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

#title {
    color: blue;
    text-align: center;
    
}

.linguagem {
    color: red;
}
.endereco {
    text-align: center;
    color: crimson;
}

.contactos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.insta {
    border-radius: 10%;
}

.face {
    border-radius: 10px;
}

.bg-footer {
    background: chartreuse;

}